body {
    font-family: 'Abel', sans-serif;

}

h1, h2, h3 {
    font-family: 'Anton', sans-serif;
}


.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid white;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;
    padding: 0;
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;

}

.blue {
    background-color: #00ABA9;
}

#background{
    background-color: #F0F0F0;
}

#navbar{
    background-color: #F0F0F0;
}

.pics > img {
    border: 7px solid #E6E6E6;
    width: 300px;
    height: auto;
}

.icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: #000000;
    font-family: 'Anton', sans-serif;
    padding: 0;
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}